USE [APOTHIKI_4293]
GO
/****** Object:  Table [dbo].[APOTHIKI]    Script Date: 23/5/2019 2:32:22 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APOTHIKI](
	[KE] [int] IDENTITY(1,1) NOT NULL,
	[EIDOS] [varchar](50) NULL,
	[KATHGORIA] [varchar](50) NULL,
	[APOTHEMA] [int] NULL,
	[TIMH_POLHSHS] [money] NULL,
	[FPA] [real] NULL,
 CONSTRAINT [PK_APOTHIKI] PRIMARY KEY CLUSTERED 
(
	[KE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARAGELIA]    Script Date: 23/5/2019 2:32:22 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAGELIA](
	[KOD_PAR] [int] IDENTITY(1,1) NOT NULL,
	[HMER_PARAGELIAS] [datetime] NULL,
	[K_PEL] [int] NULL,
	[TROPOS_PLHROMHS] [varchar](20) NULL,
	[TOPOS_PARADOSHS] [varchar](30) NULL,
 CONSTRAINT [PK_PARAGELIA] PRIMARY KEY CLUSTERED 
(
	[KOD_PAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PELATHS]    Script Date: 23/5/2019 2:32:22 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PELATHS](
	[KOD_PELATH] [int] IDENTITY(1,1) NOT NULL,
	[EPONYMIA] [varchar](50) NULL,
	[EPITHETO] [varchar](20) NULL,
	[ONOMA] [varchar](20) NULL,
	[HM_GENHSHS] [smalldatetime] NULL,
	[HLIKIA] [int] NULL,
	[AFM] [varchar](15) NULL,
	[DOY] [varchar](20) NULL,
	[DIEYTHINSI] [varchar](20) NULL,
	[POLH] [varchar](30) NULL,
	[THL] [varchar](20) NULL,
	[FOTO] [varchar](300) NULL,
	[SXOLIA] [varchar](50) NULL,
 CONSTRAINT [PK_PELATHS] PRIMARY KEY CLUSTERED 
(
	[KOD_PELATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROIONTA_PARAGELIAS]    Script Date: 23/5/2019 2:32:22 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROIONTA_PARAGELIAS](
	[K_PAR] [int] NOT NULL,
	[K_E] [int] NOT NULL,
	[POSOTHTA] [float] NULL,
 CONSTRAINT [PK_PROIONTA_PARAGELIAS] PRIMARY KEY CLUSTERED 
(
	[K_PAR] ASC,
	[K_E] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[APOTHIKI] ON 

INSERT [dbo].[APOTHIKI] ([KE], [EIDOS], [KATHGORIA], [APOTHEMA], [TIMH_POLHSHS], [FPA]) VALUES (1, N'ΚΑΡΤΑ ΓΡΑΦΙΚΩΝ', N'ΤΕΧΝΟΛΟΓΙΑ', 20, 150.0000, 0.24)
INSERT [dbo].[APOTHIKI] ([KE], [EIDOS], [KATHGORIA], [APOTHEMA], [TIMH_POLHSHS], [FPA]) VALUES (2, N'ΕΠΕΞΕΡΓΑΣΤΗΣ', N'ΤΕΧΝΟΛΟΓΙΑ', 40, 220.0000, 0.24)
INSERT [dbo].[APOTHIKI] ([KE], [EIDOS], [KATHGORIA], [APOTHEMA], [TIMH_POLHSHS], [FPA]) VALUES (3, N'ΤΡΟΦΟΔΟΤΙΚΟ', N'ΤΕΧΝΟΛΟΓΙΑ', 20, 40.0000, 0.24)
SET IDENTITY_INSERT [dbo].[APOTHIKI] OFF
SET IDENTITY_INSERT [dbo].[PARAGELIA] ON 

INSERT [dbo].[PARAGELIA] ([KOD_PAR], [HMER_PARAGELIAS], [K_PEL], [TROPOS_PLHROMHS], [TOPOS_PARADOSHS]) VALUES (1, CAST(N'2019-01-01T00:00:06.670' AS DateTime), 1, N'ΑΝΤΙΚΑΤΑΒΟΛΗ', N'ΘΕΣΣΑΛΟΝΙΚΗ')
INSERT [dbo].[PARAGELIA] ([KOD_PAR], [HMER_PARAGELIAS], [K_PEL], [TROPOS_PLHROMHS], [TOPOS_PARADOSHS]) VALUES (2, CAST(N'2019-03-03T00:00:06.673' AS DateTime), 2, N'ΔΟΣΕΙΣ', N'ΣΕΡΡΕΣ')
INSERT [dbo].[PARAGELIA] ([KOD_PAR], [HMER_PARAGELIAS], [K_PEL], [TROPOS_PLHROMHS], [TOPOS_PARADOSHS]) VALUES (3, CAST(N'2019-04-05T00:00:06.677' AS DateTime), 3, N'ΚΑΤΑΘΕΣΗ', N'ΘΕΣΣΑΛΟΝΙΚΗ')
SET IDENTITY_INSERT [dbo].[PARAGELIA] OFF
SET IDENTITY_INSERT [dbo].[PELATHS] ON 

INSERT [dbo].[PELATHS] ([KOD_PELATH], [EPONYMIA], [EPITHETO], [ONOMA], [HM_GENHSHS], [HLIKIA], [AFM], [DOY], [DIEYTHINSI], [POLH], [THL], [FOTO], [SXOLIA]) VALUES (1, N'ΜΑΖΝΗΣ Α.Ε', N'ΜΑΖΝΗΣ', N'ΑΘΑΝΑΣΙΟΣ', CAST(N'1998-11-16T00:00:00' AS SmallDateTime), 20, N'1234', N'12345', N'ΑΓΙΑ ΠΑΡΑΣΚΕΥΗ 12', N'ΘΕΣΣΑΛΟΝΙΚΗ', N'2396041444', NULL, NULL)
INSERT [dbo].[PELATHS] ([KOD_PELATH], [EPONYMIA], [EPITHETO], [ONOMA], [HM_GENHSHS], [HLIKIA], [AFM], [DOY], [DIEYTHINSI], [POLH], [THL], [FOTO], [SXOLIA]) VALUES (2, N'ΖΟΡΜΠΑΣ Α.Ε', N'ΖΟΡΜΠΑΣ', N'ΝΙΚΟΣ', CAST(N'1998-01-12T00:00:00' AS SmallDateTime), 21, N'4567', N'45678', N'ΤΡΑΠΕΖΟΥΝΤΟΣ', N'ΣΕΡΡΕΣ', N'2321065652', NULL, NULL)
INSERT [dbo].[PELATHS] ([KOD_PELATH], [EPONYMIA], [EPITHETO], [ONOMA], [HM_GENHSHS], [HLIKIA], [AFM], [DOY], [DIEYTHINSI], [POLH], [THL], [FOTO], [SXOLIA]) VALUES (3, N'ΣΥΜΕΩΝΙΔΗΣ Α.Ε', N'ΣΥΜΕΩΝΙΔΗΣ', N'ΣΑΒΒΑΣ', CAST(N'1997-05-25T00:00:00' AS SmallDateTime), 22, N'7890', N'78910', N'ΘΕΣΣΑΛΟΝΙΚΗΣ 30', N'ΘΕΣΣΑΛΟΝΙΚΗ', N'2310454532', NULL, NULL)
SET IDENTITY_INSERT [dbo].[PELATHS] OFF
INSERT [dbo].[PROIONTA_PARAGELIAS] ([K_PAR], [K_E], [POSOTHTA]) VALUES (1, 1, 1)
INSERT [dbo].[PROIONTA_PARAGELIAS] ([K_PAR], [K_E], [POSOTHTA]) VALUES (2, 1, 2)
INSERT [dbo].[PROIONTA_PARAGELIAS] ([K_PAR], [K_E], [POSOTHTA]) VALUES (3, 2, 2)
ALTER TABLE [dbo].[PARAGELIA]  WITH CHECK ADD  CONSTRAINT [FK_PARAGELIA_PELATHS] FOREIGN KEY([K_PEL])
REFERENCES [dbo].[PELATHS] ([KOD_PELATH])
GO
ALTER TABLE [dbo].[PARAGELIA] CHECK CONSTRAINT [FK_PARAGELIA_PELATHS]
GO
ALTER TABLE [dbo].[PROIONTA_PARAGELIAS]  WITH CHECK ADD  CONSTRAINT [FK_PARAGELIAapoth] FOREIGN KEY([K_PAR])
REFERENCES [dbo].[PARAGELIA] ([KOD_PAR])
GO
ALTER TABLE [dbo].[PROIONTA_PARAGELIAS] CHECK CONSTRAINT [FK_PARAGELIAapoth]
GO
ALTER TABLE [dbo].[PROIONTA_PARAGELIAS]  WITH CHECK ADD  CONSTRAINT [FK_PROIONTA] FOREIGN KEY([K_E])
REFERENCES [dbo].[APOTHIKI] ([KE])
GO
ALTER TABLE [dbo].[PROIONTA_PARAGELIAS] CHECK CONSTRAINT [FK_PROIONTA]
GO
